<table>
  <tr>
    <td>1×× Informational</td>
    <td>100</td>
    <td>Continue</td>
  </tr>
  <tr>
    <td></td>
    <td>101</td>
    <td>Switching Protocols</td>
  </tr>
  <tr>
    <td></td>
    <td>102</td>
    <td>Processing</td>
  </tr>
  <tr>
    <td>2×× Success</td>
    <td>200</td>
    <td>OK</td>
  </tr>
  <tr>
    <td></td>
    <td>201</td>
    <td>Created</td>
  </tr>
  <tr>
    <td></td>
    <td>202</td>
    <td>Accepted</td>
  </tr>
  <tr>
    <td></td>
    <td>203</td>
    <td>Non-authoritative Information</td>
  </tr>
  <tr>
    <td></td>
    <td>204</td>
    <td>No Content</td>
  </tr>
  <tr>
    <td></td>
    <td>205</td>
    <td>Reset Content</td>
  </tr>
  <tr>
    <td></td>
    <td>206</td>
    <td>Partial Content</td>
  </tr>
  <tr>
    <td></td>
    <td>207</td>
    <td>Multi-Status</td>
  </tr>
  <tr>
    <td></td>
    <td>208</td>
    <td>Already Reported</td>
  </tr>
  <tr>
    <td></td>
    <td>226</td>
    <td>IM Used</td>
  </tr>
  <tr>
    <td>3×× Redirection</td>
    <td>300</td>
    <td>Multiple Choices</td>
  </tr>
  <tr>
    <td></td>
    <td>301</td>
    <td>Moved Permanently</td>
  </tr>
  <tr>
    <td></td>
    <td>302</td>
    <td>Found</td>
  </tr>
  <tr>
    <td></td>
    <td>303</td>
    <td>See Other</td>
  </tr>
  <tr>
    <td></td>
    <td>304</td>
    <td>Not Modified</td>
  </tr>
  <tr>
    <td></td>
    <td>305</td>
    <td>Use Proxy</td>
  </tr>
  <tr>
    <td></td>
    <td>307</td>
    <td>Temporary Redirect</td>
  </tr>
  <tr>
    <td></td>
    <td>308</td>
    <td>Permanent Redirect</td>
  </tr>
  <tr>
    <td>4×× Client Error</td>
    <td>400</td>
    <td>Bad Request</td>
  </tr>
  <tr>
    <td></td>
    <td>401</td>
    <td>Unauthorized</td>
  </tr>
  <tr>
    <td></td>
    <td>402</td>
    <td>Payment Required</td>
  </tr>
  <tr>
    <td></td>
    <td>403</td>
    <td>Forbidden</td>
  </tr>
  <tr>
    <td></td>
    <td>404</td>
    <td>Not Found</td>
  </tr>
  <tr>
    <td></td>
    <td>405</td>
    <td>Method Not Allowed</td>
  </tr>
  <tr>
    <td></td>
    <td>406</td>
    <td>Not Acceptable</td>
  </tr>
  <tr>
    <td></td>
    <td>407</td>
    <td>Proxy Authentication Required</td>
  </tr>
  <tr>
    <td></td>
    <td>408</td>
    <td>Request Timeout</td>
  </tr>
  <tr>
    <td></td>
    <td>409</td>
    <td>Conflict</td>
  </tr>
  <tr>
    <td></td>
    <td>410</td>
    <td>Gone</td>
  </tr>
  <tr>
    <td></td>
    <td>411</td>
    <td>Length Required</td>
  </tr>
  <tr>
    <td></td>
    <td>412</td>
    <td>Precondition Failed</td>
  </tr>
  <tr>
    <td></td>
    <td>413</td>
    <td>Payload Too Large</td>
  </tr>
  <tr>
    <td></td>
    <td>414</td>
    <td>Request-URI Too Long</td>
  </tr>
  <tr>
    <td></td>
    <td>415</td>
    <td>Unsupported Media Type</td>
  </tr>
  <tr>
    <td></td>
    <td>416</td>
    <td>Requested Range Not Satisfiable</td>
  </tr>
  <tr>
    <td></td>
    <td>417</td>
    <td>Expectation Failed</td>
  </tr>
  <tr>
    <td></td>
    <td>418</td>
    <td>I'm a teapot</td>
  </tr>
  <tr>
    <td></td>
    <td>421</td>
    <td>Misdirected Request</td>
  </tr>
  <tr>
    <td></td>
    <td>422</td>
    <td>Unprocessable Entity</td>
  </tr>
  <tr>
    <td></td>
    <td>423</td>
    <td>Locked</td>
  </tr>
  <tr>
    <td></td>
    <td>424</td>
    <td>Failed Dependency</td>
  </tr>
  <tr>
    <td></td>
    <td>426</td>
    <td>Upgrade Required</td>
  </tr>
  <tr>
    <td></td>
    <td>428</td>
    <td>Precondition Required</td>
  </tr>
  <tr>
    <td></td>
    <td>429</td>
    <td>Too Many Requests</td>
  </tr>
  <tr>
    <td></td>
    <td>431</td>
    <td>Request Header Fields Too Large</td>
  </tr>
  <tr>
    <td></td>
    <td>444</td>
    <td>Connection Closed Without Response</td>
  </tr>
  <tr>
    <td></td>
    <td>451</td>
    <td>Unavailable For Legal Reasons</td>
  </tr>
  <tr>
    <td></td>
    <td>499</td>
    <td>Client Closed Request</td>
  </tr>
  <tr>
    <td>5×× Server Error</td>
    <td>500</td>
    <td>Internal Server Error</td>
  </tr>
  <tr>
    <td></td>
    <td>501</td>
    <td>Not Implemented</td>
  </tr>
  <tr>
    <td></td>
    <td>502</td>
    <td>Bad Gateway</td>
  </tr>
  <tr>
    <td></td>
    <td>503</td>
    <td>Service Unavailable</td>
  </tr>
  <tr>
    <td></td>
    <td>504</td>
    <td>Gateway Timeout</td>
  </tr>
  <tr>
    <td></td>
    <td>505</td>
    <td>HTTP Version Not Supported</td>
  </tr>
  <tr>
    <td></td>
    <td>506</td>
    <td>Variant Also Negotiates</td>
  </tr>
  <tr>
    <td></td>
    <td>507</td>
    <td>Insufficient Storage</td>
  </tr>
  <tr>
    <td></td>
    <td>508</td>
    <td>Loop Detected</td>
  </tr>
  <tr>
    <td></td>
    <td>510</td>
    <td>Not Extended</td>
  </tr>
  <tr>
    <td></td>
    <td>511</td>
    <td>Network Authentication Required</td>
  </tr>
  <tr>
    <td></td>
    <td>599</td>
    <td>Network Connect Timeout Error</td>
  </tr>
</table>
